<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8"/>
   <title>Recipe Home</title>
   <link crossorigin="anonymous"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

</head>
<body>

<div class="container mt-3">
   <div class="row">
      <div class="col-md-10 offset-md-1">
         <div class="card">
            <div class="card-header">
               <h5 class="card-title mb-0">Manage Ingredients</h5>
            </div>
            <div class="card-body">
               <table class="table table-hover">
                  <thead>
                  <tr>
                     <th>ID</th>
                     <th>Description</th>
                     <th>View</th>
                     <th>Update</th>
                     <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody th:remove="all-but-first">
                  <tr th:each="ingredient : ${ingredients}">
                     <td th:text="${ingredient.id}">789</td>
                     <td th:text="${ingredient.displayName}">Tasty Goodness 1</td>
                     <td><a href="#" th:href="@{'/recipe/' + ${recipeId} + '/show'}">View</a></td>
                     <td><a href="#" th:href="@{'/recipe/' + ${recipeId} + '/update'}">Update</a>
                     </td>
                     <td><a href="#" th:href="@{'/recipe/' + ${recipeId} + '/delete'}">Delete</a>
                     </td>
                  </tr>
                  <tr>
                     <td>123</td>
                     <td>Tasty Goodness 2</td>
                     <td><a href="#">View</a></td>
                  </tr>
                  <tr>
                     <td>456</td>
                     <td>Tasty Goodness 3</td>
                     <td><a href="#">View</a></td>
                  </tr>

                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>