<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1 th:text="'My Recipes'">My Recipes!</h1>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Description</th>
        <th>Directions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td style="width:5%" th:text="${recipe.getId()}">1</td>
        <td style="width:10%" th:text="${recipe.getDescription()}">Description</td>
        <td style="width:50%" th:text="${recipe.getDirections()}">Directions</td>
    </tr>
    </tbody>
</table>
</body>
</html>